do_token                = "{{ do_token }}"
ssh_fingerprint         = "{{ ssh_fingerprint }}"
db_password             = "{{ redmine_db_password }}"
datadog_api_key         = "{{ datadog_api_key }}"
datadog_app_key         = "{{ datadog_app_key }}"
redmine_secret_key_base = "{{ redmine_secret_key_base }}"
db_name                 = "{{ redmine_db_database }}"
db_user                 = "{{ redmine_db_username }}"
